<% @llinks.each  do |llink| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to llink.title, llink %><br>
      <small class="author">Submitted <%= time_ago_in_words(llink.created_at) %> by <%= llink.user.email %> </small>
    </h2>
  </div>
<% end %>

  

